* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro", monospace;
    color: #333;
}

#main {
    background: #eee;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3 {
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
}

h1 {
    background: #333;
    color: #eee;
    line-height: 2;
    width: 100%;
    font-size: 40px;
}

h2 {
    /* color: #404b69; */
    margin-top: 20px;
    border-top: 1px solid #333;
}

h4 {
    padding: 15px 0;
}

p {
    font-size: 0.8em;
    padding: 5px 0;
}

input {
    margin: 10px;
    padding: 9px 10px;
    font-family: "Source Code Pro", monospace;
}

label > input[type="file"] {
    display: none;
}

button,
.custom-file-upload {
    background: #333;
    color: #eee;
    border: none;
    padding: 10px 20px;
    margin: 10px 10px;
    font-family: "Source Code Pro", monospace;
    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    font-size: 0.85em;
}

#more,
#submit {
    margin-top: 30px;
    width: 190px;
}

.img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.imagebox {
    padding: 10px;
    margin: 20px;
    border: 1px solid #eaeaea;
    width: 320px;
    background: #fff;
    box-shadow: 12px 13px 25px -6px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 12px 13px 25px -6px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 12px 13px 25px -6px rgba(0, 0, 0, 0.55);
}

.imgcontainer,
form,
#select-tags {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    align-items: center;
}

.red {
    background: #dd0a35;
}

.blue {
    background: #404b69;
}

/* popup component */

#close {
    float: right;
}

.outer-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}

.single-image-container {
    position: fixed;
    overflow: scroll;
    width: 70%;
    height: auto;
    top: 5%;
    left: 15%;
    bottom: 5%;
    background: #fff;
    padding: 1% 3%;
    margin: 0 auto;
    border: 5px solid #404b69;
    z-index: 2;
}
::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* optional: just make scrollbar invisible */
}
.selected-img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.imagepopup {
    float: left;
    width: 50%;
    margin-bottom: 20px;
}

.submit-comment {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding-left: 3%;
}

.comments {
    clear: both;
}

.singleComment {
    padding: 3%;
    border-top: 1px solid #404b69;
    margin: 10px 0;
}

.imagepopup h2,
.comments h2 {
    text-align: left;
    border: none;
    margin-top: 0;
}

@media screen and (max-width: 480px) {
    .imgcontainer {
        display: block;
    }
    .imagebox {
        width: 90%;
        margin: 10% auto;
    }
    .img {
        width: 100%;
        height: auto;
    }
    input,
    button {
        width: 95%;
        height: 50px;
    }
}
